.main-grid {
    border-top: 2px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    gap: 20px;
}

.main-grid h2 {
    font-family: "Chewy";
    font-weight: 400;
    font-size: 1.6rem;
}

.article-card {
    border: 1px solid #000;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}